@font-face {
  font-family: "iconfont"; /* Project id 2528258 */
  src: url('//at.alicdn.com/t/font_2528258_tjh26yehghl.woff2?t=1620270051817') format('woff2'),
       url('//at.alicdn.com/t/font_2528258_tjh26yehghl.woff?t=1620270051817') format('woff'),
       url('//at.alicdn.com/t/font_2528258_tjh26yehghl.ttf?t=1620270051817') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-QQ:before {
  content: "\e725";
}

